body {
	background: #e19898;
	font-family: "BaskervilleCyrlTStd", "American Typewriter", Zapfino; 
}
.myessay{
	margin: 2em 12em;
	font-size: 20px;
	line-height: 2em;
}
.myessay p {
	color: red;
}
h1{
	font-size: 200%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
	margin: 3em 0 1.5em 0; 
}
h2{
	text-decoration: underline;
	font-style: italic;
	color: #1fd8df;
}
blockquote {
	font-style: italic;
	font-size: 1.5em;
	border-left: 3px solid black;
	margin: 1.5em 0;
	padding-left: 0 0 0 3em; 
}