body{
	margin: 0pt; padding: 0pt; text-align: center;
	background: #ffefd5;
	font-family: "BaskervilleCyrlTStd", Helvetica, Lucida ;
	color: black;
	font-size: 30pt;
}
.name {
	font-family: Lucida;
	font-size: 30pt;
	text-align: center;
}
.course{
	font-family: Lucida;
	font-size: 20pt;
	text-align: center;
}
.h3{
	text-align: center;
	font-family: Helvetica;
	font-size: 20pt;
}
	
}