body{
	margin: 0pt; padding: 0pt; text-align: center;
	background: #f8f8e2;
	font-family: "BaskervilleCyrlTStd", Helvetica, Lucida ;
	color: #d99392;
	font-size: 15pt;
}
.name {
	font-family: Lucida;
	font-size: 30pt;
	text-align: center;
	color: #d99392;
}
.course{
	font-family: Lucida;
	font-size: 20pt;
	text-align: center;
	color: #d99392;
}
.p{
	text-align: center; 
	color: #d99392;
	font-size: 20pt;
}
.a {
	font-size: 25pt;
}