body {
	background: #ffefd5;
	font-family: "BaskervilleCyrlTStd", Helvetica, Lucida 
	  
}
.myessay{
	margin: 2em 12em;
	font-size: 21px;
	line-height: 2em;
	font-style: "sillyfont";
}
h1{
	font-size: 200%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
	margin: 3em 0 1.5em 0; 
}
