body{
	margin: 0pt; padding: 0pt; text-align: center; 
	background: #cfe9d0;
	font-family: "BaskervilleCyrlTStd",Helvetica, Lucida;
	font-size: 15pt;
	color: #806262;
}
.myessay{
	margin: 2em 12em;
	font-size: 21px;
	line-height: 2em;
}

h1{
	font-size: 150%;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
	margin: 3em 0 1.5em 0; 
}
.name {
	font-family: Lucida;
	font-size: 40pt;
	text-align: center;
}
.course{
	font-family: Lucida;
	font-size: 20pt;
	text-align: center;
